body {
  background-color: #f9e7ff;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: #100024;
}

h2::after {
  content: "";
  display: block;
  width: 70px;
  padding-top: 3px;
  border-bottom: 3px solid #100024;
}

header {
  z-index: 1000;
  max-width: 1440px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  margin: 20px auto 0 auto;
  padding-left: 20px;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  border: 1px solid #000;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Media Queries */
}
header .logo {
  animation: grow 0.8s linear infinite alternate;
}
header .logo h1 {
  font-size: 4em;
  font-family: "Courier New", Courier, monospace;
  color: #100024;
  margin: 0;
}
header .logo h1::after {
  content: "";
  display: block;
  width: 125px;
  padding-top: 3px;
  border-bottom: 6px solid #100024;
  border-radius: 10px;
}
header nav a {
  background-color: #e6dcea;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  color: #100024;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-right: 20px;
}
header nav a:hover {
  color: white;
}
header .toggle-nav {
  display: none;
  background-color: transparent;
  border: none;
  color: #100024;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
header .toggle-nav:hover {
  background-color: #100024;
  color: white;
}
@media only screen and (max-width: 767px) {
  header {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  header .logo h1 {
    font-size: 2em;
  }
  header .logo h1::after {
    width: 40px;
    border-bottom: 4px solid #100024;
  }
  header nav {
    display: none;
  }
  header nav.active {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 105px;
    left: 50%;
    transform: translateX(-70%);
    gap: 10px;
  }
  header .toggle-nav {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    height: 80px;
  }
  header .logo h1 {
    font-size: 3em;
  }
  header .logo h1::after {
    width: 90px;
    border-bottom: 5px solid #100024;
  }
}

@keyframes grow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.05, 1.08);
  }
}
section {
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}
section#skills, section#contact {
  background-color: #e6dcea;
}
section p {
  color: #100024;
  line-height: 1.8;
}

#about {
  margin-top: 159.69px;
}
#about .profile {
  height: 700px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}
#about img {
  width: 50%;
  max-width: 500px;
  border-radius: 50%;
}
#about p {
  width: 50%;
  max-width: 500px;
  color: #100024;
  line-height: 1.8;
  max-height: 500px;
  overflow: auto;
}

a {
  text-decoration: none;
  color: #100024;
}

#skills .skills {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}
#skills .skills .front-end {
  width: 45%;
  height: 100%;
}
#skills .skills .back-end {
  width: 45%;
  height: 100%;
}
#skills .skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#skills .skills li {
  margin-bottom: 30px;
  position: relative;
  font-size: 18px;
}
#skills .skills .skill-bar {
  background-color: #e6dcea;
  border-radius: 10px;
  height: 30px;
  position: relative;
  width: 0%;
  animation: expandBar 1s ease forwards;
}
#skills .skills .skill-level {
  background-color: #100024;
  height: 100%;
  width: 0%;
  transition: width 1s ease;
}
#skills .skills .skill-level.loaded {
  width: var(--skill-level);
}
#skills .skills .skill-percent {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 16px;
  font-weight: bold;
}

@keyframes expandBar {
  from {
    width: 0%;
  }
  to {
    width: var(--skill-level);
  }
}
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#projects h2 {
  width: 100%;
}
#projects .project {
  width: calc(50% - 10px);
  background-color: white;
  margin-bottom: 20px;
  box-sizing: border-box;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
#projects .project:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
#projects .project img {
  width: 100%;
  height: 500px;
  border-bottom: 1px solid #ddd;
}
#projects .project h3 {
  min-height: 60px;
}
#projects .project h3,
#projects .project p {
  padding: 15px;
  margin: 0;
}
#projects .project button {
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  background-color: white;
  color: #100024;
  border: none;
  border-top: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#projects .project button:hover {
  background-color: #e6dcea;
}
#projects .project a {
  display: block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  color: #100024;
  border-top: 1px solid #ddd;
  transition: background-color 0.3s ease;
}
#projects .project a:hover {
  background-color: #e6dcea;
}
#projects .project .non-cliquable {
  pointer-events: none;
  color: gray;
}

form {
  display: flex;
  flex-direction: column;
}
form label {
  margin-bottom: 10px;
}
form input,
form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
form button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
form button:hover {
  background-color: #e6dcea;
}

footer {
  color: #100024;
  padding: 20px;
  text-align: center;
}
footer p {
  margin-bottom: 10px;
  font-size: 14px;
}
footer div {
  margin-top: 20px;
}
footer div span {
  display: block;
  font-weight: bold;
  font-size: 16px;
}
footer div a {
  color: #f9e7ff;
  text-decoration: underline;
  transition: color 0.3s ease;
}
footer div a:hover {
  color: white;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  max-height: 80%;
}
.modal-content {
  max-width: 600px;
  margin: 0 auto;
}
.modal-content .carousel {
  position: relative;
  max-width: calc(100% - 40px);
  margin: 20px auto;
}
.modal-content .carousel img {
  width: 100%;
  height: auto;
}
.modal-content .carousel .prev,
.modal-content .carousel .next {
  position: absolute;
  top: 50%;
  width: 40px;
  padding: 16px;
  margin-top: -22px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  opacity: 0.5;
}
.modal-content .carousel .prev:hover,
.modal-content .carousel .next:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.9);
}
.modal-content .carousel .prev {
  left: -40px;
}
.modal-content .carousel .next {
  right: -40px;
}
.modal-content .carousel span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}/*# sourceMappingURL=index.css.map */