body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: rgb(99, 96, 96);
}

h1::after,
h2::after {
  content: "";
  display: block;
  width: 70px;
  padding-top: 3px;
}

h1::after {
  border-bottom: 5px solid #C0C0C0;
}

h2::after {
  border-bottom: 3px solid rgba(106, 13, 173, 0.5333333333);
}

header {
  background-color: rgb(99, 96, 96);
  color: white;
  padding: 10px;
  position: fixed;
  width: calc(100% - 10px);
  top: 0;
  z-index: 1000;
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  align-items: center;
}
header .logo-container {
  background-color: rgba(106, 13, 173, 0.5333333333);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: transform 0.3s ease;
}
header .logo-container:hover {
  transform: scale(1.05);
}
header .logo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
header .logo h1 {
  font-size: 3em;
  color: #C0C0C0;
  margin: 0;
}
header .logo p {
  font-size: 1.2em;
  color: #C0C0C0;
  padding-top: 20px;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
header nav a {
  background-color: #C0C0C0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  color: rgba(106, 13, 173, 0.5333333333);
  font-weight: bold;
  transition: color 0.3s ease;
  margin-right: 20px;
}
header nav a:hover {
  color: white;
}

section {
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}
section#about, section#projects {
  background-color: rgba(106, 13, 173, 0.4941176471);
}
section#skills, section#contact {
  background-color: rgba(192, 192, 192, 0.5019607843);
}
section p {
  color: rgb(99, 96, 96);
  line-height: 1.8;
}

#about {
  margin-top: 184.69px;
}
#about .profile {
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#about .profile img {
  width: 550px;
  border-radius: 50%;
  margin-right: 20px;
}
#about .profile p {
  color: rgb(99, 96, 96);
  line-height: 1.8;
}
#about a {
  text-decoration: none;
  color: rgba(106, 13, 173, 0.5333333333);
}

#skills .skills {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}
#skills .skills .front-end {
  width: 45%;
  height: 100%;
}
#skills .skills .back-end {
  width: 45%;
  height: 100%;
}
#skills .skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#skills .skills li {
  margin-bottom: 30px;
  position: relative;
  font-size: 18px;
}
#skills .skills .skill-bar {
  background-color: #C0C0C0;
  border-radius: 10px;
  height: 30px;
  position: relative;
  width: 0%;
  animation: expandBar 1s ease forwards;
}
#skills .skills .skill-level {
  background-color: rgba(106, 13, 173, 0.5333333333);
  height: 100%;
  width: 0%;
  transition: width 1s ease;
}
#skills .skills .skill-level.loaded {
  width: var(--skill-level);
}
#skills .skills .skill-percent {
  position: absolute;
  top: 0;
  right: 10px;
  color: rgb(99, 96, 96);
  font-size: 16px;
  font-weight: bold;
}

@keyframes expandBar {
  from {
    width: 0%;
  }
  to {
    width: var(--skill-level);
  }
}
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#projects h2 {
  width: 100%;
}
#projects .project {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  box-sizing: border-box;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  background-color: rgba(192, 192, 192, 0.5019607843);
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
#projects .project:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
#projects .project img {
  width: 100%;
  height: 500px;
  border-bottom: 1px solid #ddd;
}
#projects .project h3 {
  min-height: 60px;
}
#projects .project h3,
#projects .project p {
  padding: 15px;
  margin: 0;
}
#projects .project button {
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  background-color: rgba(106, 13, 173, 0.4941176471);
  color: rgba(192, 192, 192, 0.5019607843);
  border: none;
  border-top: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#projects .project button:hover {
  background-color: rgba(192, 192, 192, 0.5019607843);
  color: rgba(106, 13, 173, 0.4941176471);
}
#projects .project a {
  display: block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(192, 192, 192, 0.5019607843);
  color: rgba(106, 13, 173, 0.4941176471);
  border-top: 1px solid #ddd;
  transition: background-color 0.3s ease;
}
#projects .project a:hover {
  background-color: rgba(106, 13, 173, 0.4941176471);
  color: rgba(192, 192, 192, 0.5019607843);
}
#projects .project .non-cliquable {
  pointer-events: none;
  color: gray;
}

form {
  display: flex;
  flex-direction: column;
}
form label {
  margin-bottom: 10px;
  color: rgb(99, 96, 96);
}
form input,
form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
form button {
  padding: 10px 20px;
  background-color: rgb(99, 96, 96);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
form button:hover {
  background-color: #C0C0C0;
}

footer {
  background-color: rgb(99, 96, 96);
  color: #C0C0C0;
  padding: 20px;
  text-align: center;
}
footer p {
  margin-bottom: 10px;
  font-size: 14px;
}
footer div {
  margin-top: 20px;
}
footer div span {
  display: block;
  font-weight: bold;
  font-size: 16px;
}
footer div a {
  color: rgba(106, 13, 173, 0.5333333333);
  text-decoration: underline;
  transition: color 0.3s ease;
}
footer div a:hover {
  color: white;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  max-height: 80%;
}
.modal-content {
  max-width: 600px;
  margin: 0 auto;
}
.modal-content .carousel {
  position: relative;
  max-width: calc(100% - 40px);
  margin: 20px auto;
}
.modal-content .carousel img {
  width: 100%;
  height: auto;
}
.modal-content .carousel .prev,
.modal-content .carousel .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  opacity: 0.5;
}
.modal-content .carousel .prev:hover,
.modal-content .carousel .next:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.9);
}
.modal-content .carousel .prev {
  left: -40px;
}
.modal-content .carousel .next {
  right: -40px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}/*# sourceMappingURL=index.css.map */