// Variables
$violet: #f9e7ff;
$violetGrey: #e6dcea;
$violetBlack: #100024;

// Mixins
@mixin boxShadow($color: rgba(0, 0, 0, 0.3)) {
    box-shadow: 0 4px 6px $color;
}

@mixin borderRadius($radius: 10px) {
    border-radius: $radius;
}

@mixin transition($property, $duration: 0.3s, $timing: ease) {
    transition: $property $duration $timing;
}

// Styles
body {
    background-color: $violet;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

h2,
h3 {
    font-family: 'Roboto', sans-serif;
    color: $violetBlack;
}

h2::after {
    content: "";
    display: block;
    width: 70px;
    padding-top: 3px;
    border-bottom: 3px solid $violetBlack;
}

header {
    z-index: 1000;
    max-width: 1440px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    margin: 20px auto 0 auto;
    padding-left: 20px;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    border: 1px solid #000;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {

        animation: grow 0.8s linear infinite alternate;

        h1 {
            font-size: 4em;
            font-family: 'Courier New', Courier, monospace;
            color: $violetBlack;
            margin: 0;
        }

        h1::after {
            content: "";
            display: block;
            width: 125px;
            padding-top: 3px;
            border-bottom: 6px solid $violetBlack;
            border-radius: 10px;
        }
    }

    nav {

        a {
            background-color: $violetGrey;
            @include boxShadow;
            @include borderRadius;
            padding: 5px;
            text-decoration: none;
            color: $violetBlack;
            font-weight: bold;
            @include transition(color);
            margin-right: 20px;

            &:hover {
                color: white;
            }
        }
    }

    .toggle-nav {
        display: none;
        background-color: transparent;
        border: none;
        color: $violetBlack;
        font-size: 16px;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .toggle-nav:hover {
        background-color: $violetBlack;
        color: white;
    }

    /* Media Queries */
    @media only screen and (max-width: 767px) {
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;

        .logo {

            h1 {
                font-size: 2em;
            }

            h1::after {
                width: 40px;
                border-bottom: 4px solid $violetBlack;
            }
        }

        nav {
            display: none;
        }

        nav.active {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 105px;
            left: 50%;
            transform: translateX(-70%);
            gap: 10px;
        }

        .toggle-nav {
            display: block;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        height: 80px;

        .logo {

            h1 {
                font-size: 3em;
            }

            h1::after {
                width: 90px;
                border-bottom: 5px solid $violetBlack;
            }
        }

    }
}

@keyframes grow {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.05, 1.08);
    }
}

section {
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;

    &#skills,
    &#contact {
        background-color: $violetGrey;
    }

    p {
        color: $violetBlack;
        line-height: 1.8;
    }
}

#about {
    margin-top: 159.69px;

    .profile {
        height: 700px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    img {
        width: 50%;
        max-width: 500px;
        border-radius: 50%;
    }

    p {
        width: 50%;
        max-width: 500px;
        color: $violetBlack;
        line-height: 1.8;
        max-height: 500px;
        overflow: auto;
    }
}

a {
    text-decoration: none;
    color: $violetBlack;
}


#skills {
    .skills {
        height: 90vh;
        display: flex;
        justify-content: space-between;

        .front-end {
            width: 45%;
            height: 100%;
        }

        .back-end {
            width: 45%;
            height: 100%;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

        }

        li {
            margin-bottom: 30px;
            position: relative;
            font-size: 18px;
        }

        .skill-bar {
            background-color: $violetGrey;
            border-radius: 10px;
            height: 30px;
            position: relative;
            width: 0%;
            animation: expandBar 1s ease forwards;
        }

        .skill-level {
            background-color: $violetBlack;
            height: 100%;
            width: 0%;
            transition: width 1s ease;
        }

        .skill-level.loaded {
            width: var(--skill-level);
        }


        .skill-percent {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

@keyframes expandBar {
    from {
        width: 0%;
    }

    to {
        width: var(--skill-level);
    }
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    h2 {
        width: 100%;
    }

    .project {
        width: calc(50% - 10px);
        background-color: white;
        margin-bottom: 20px;
        box-sizing: border-box;
        break-inside: avoid;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        }

        img {
            width: 100%;
            height: 500px;
            border-bottom: 1px solid #ddd;
        }

        h3 {
            min-height: 60px;
        }

        h3,
        p {
            padding: 15px;
            margin: 0;
        }

        button {
            width: 100%;
            padding: 10px 15px;
            text-align: center;
            background-color: white;
            color: $violetBlack;
            border: none;
            border-top: 1px solid #ddd;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $violetGrey;
            }
        }

        a {
            display: block;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            color: $violetBlack;
            border-top: 1px solid #ddd;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $violetGrey;
            }
        }

        .non-cliquable {
            pointer-events: none;
            color: gray;
        }
    }
}

form {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 10px;
    }

    input,
    textarea {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    button {
        padding: 10px 20px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $violetGrey;
        }
    }
}

footer {
    color: $violetBlack;
    padding: 20px;
    text-align: center;

    p {
        margin-bottom: 10px;
        font-size: 14px;
    }

    div {
        margin-top: 20px;

        span {
            display: block;
            font-weight: bold;
            font-size: 16px;
        }

        a {
            color: $violet;
            text-decoration: underline;
            transition: color 0.3s ease;

            &:hover {
                color: white;
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    max-height: 80%;

    &-content {
        max-width: 600px;
        margin: 0 auto;

        .carousel {
            position: relative;
            max-width: calc(100% - 40px);
            margin: 20px auto;

            img {
                width: 100%;
                height: auto;
            }

            .prev,
            .next {
                position: absolute;
                top: 50%;
                width: 40px;
                padding: 16px;
                margin-top: -22px;
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
                background-color: rgba(255, 255, 255, 0.7);
                color: black;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                    background-color: rgba(255, 255, 255, 0.9);
                }
            }

            .prev {
                left: -40px;
            }

            .next {
                right: -40px;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}