/* Définition des variables de couleur */
$textColor: rgb(190, 190, 190);
$textColor2: white;
$ballColor: #333;
$ballColor2: rgb(255, 255, 106);
$ballText: #100024;
$ballAB: rgba(255, 255, 255, 0.1);
$ballAB2: rgba(255, 255, 255, 0.5);
$aNButtonHover: transparent;
$backgroundHNFNP: #131313;
$backgroundLight: #03579f;
$backgroundSection: rgb(30, 41, 59);
$backgroundSection2: #b0e5ff;
$skillBarr: #4caf50;
$backgroundButton: #e2c1ff;
$backgroundModal: transparent;
$arrow: black;
$arrow2: rgba(255, 255, 255, 0.9);
$overlay: rgba(0, 0, 0, 0.9);

/* Définition des animations */
@keyframes enlargeAndDisappear {
    0% {
        font-size: 2em;
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
    }

    100% {
        font-size: 33vw;
        opacity: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(0);
        text-shadow: -13px 0px 3px rgba(255, 255, 255, 0.5);
    }

    100% {
        transform: translateX(100%);
        text-shadow: -113px 0px 3px rgba(255, 255, 255, 1);
    }
}

@keyframes moveLeftRightFade {
    0% {
        left: 20px;
    }

    49% {
        left: 99px;
    }

    50% {
        left: 100px;
        opacity: 0;
    }

    51% {
        left: -100px;
        opacity: 0;
    }

    70% {
        left: -50px;
        opacity: 1;
    }

    100% {
        left: 20px;
    }
}

@keyframes fill {
    0% {
        width: 3%;
    }

    100% {
        width: 4%;
    }
}

@keyframes fill-hover {
    from {
        width: 0;
    }

    to {
        width: var(--skill-level);
    }
}

body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    color: $textColor;
    line-height: 1.6;
    margin: 0;
}

/* Classe pour cacher les sections */
.hide {
    display: none;
}

/* Thème clair */
.light {
    background-image: url(../assets/background2.webp);
    background-size: cover;
}

.logo.light2 {
    background: $backgroundLight;
}

#skills .skills .skill-bar.light3 {
    background: $textColor2;
}

.animated-text.light4 {
    background-image: url(../assets/background2.webp);
    background-size: cover;
}

.animated-text span.light5 {
    background: $backgroundLight;
}

.header.light6 {
    background: $backgroundLight;
}

.light6 {
    background: $backgroundLight;
}

#about.light7,
#projects.light7,
#skills.light7,
#contact.light7 {
    background: $backgroundSection2;
}

.light8 {
    color: $textColor2;
}

.header nav a.light8 {
    color: $textColor2;
}

.toggle-nav.light8 {
    color: $textColor2;
}

#about .about-text.light9 {
    background: $backgroundLight;
}

.animated-text {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/background.webp);
    background-size: cover;
    font-size: 2em;
    padding-top: 50vh;
    font-family: "Ysabeau Office", sans-serif;
}

.animate {
    display: block;
    animation: enlargeAndDisappear 1s ease forwards;
    transform-origin: center;
}

.animated-text span {
    background: $ballText;
}

header {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    background-image: url(../assets/background.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;

    .ball {
        width: 100px;
        height: 100px;
        background: $ballColor;
        color: $textColor;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        left: 20px;
        transition: transform 0.5s ease;
    }

    .ball.move-right {
        transform: translateX(calc(100vw - 140px));
        background: $ballColor2;
        color: $ballText;
    }

    .ball::before,
    .ball::after {
        content: "";
        position: absolute;

        z-index: -1;
        border-radius: 50%;
    }

    .ball::before {
        width: 200px;
        height: 200px;
        top: -50px;
        left: -50px;
        background: $ballAB;
    }

    .ball::after {
        width: 300px;
        height: 300px;
        top: -100px;
        left: -100px;
        background: $ballAB;
    }

    .ball.move-right::before {
        background: $ballAB2;
    }

    .ball.move-right::after {
        background: $ballAB2;
    }

    .logo {
        width: 100%;
        background: #100024;
        box-shadow: 0px 0px 50px 13px rgba(255, 255, 255, 0.5);

        h1 {
            font-size: 4em;
            font-family: "Ysabeau Office", sans-serif;
            margin: 0;

            animation: moveLeftToRight 2s cubic-bezier(0.47, 0.2, 1, -0.35) 3s;
        }
    }

    nav {
        margin: 1em;

        a {
            color: $textColor;
            padding: 5px;
            text-decoration: none;
            font-size: 1.1em;
            font-weight: 700;
            margin-right: 20px;
            transition: color 0.3s ease;

            &:hover {
                color: $aNButtonHover;
            }
        }
    }

    .toggle-nav {
        display: none;
        background: transparent;
        border: none;
        color: $textColor;
        font-size: 1em;
        margin: 1em 0;
        font-weight: 700;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .toggle-nav:hover {
        color: $aNButtonHover;
    }

    @media only screen and (max-width: 767px) {
        .ball {
            width: 75px;
            height: 75px;
        }

        .ball::before {
            width: 175px;
            height: 175px;
        }

        .ball::after {
            width: 275px;
            height: 275px;
        }

        .ball.move-right {
            transform: translateX(calc(100vw - 125px));
            background: rgb(255, 255, 106);
            color: $ballText;
        }

        h3 {
            font-size: 1em;
        }

        .logo {
            h1 {
                font-size: 2em;
            }
        }

        nav {
            display: none;

            a {
                margin-right: 0;
                text-align: center;

                font-size: 1em;
            }
        }

        nav.active {
            display: flex;
            flex-direction: column;
        }

        .toggle-nav {
            display: block;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        height: 100vh;

        .logo {
            h1 {
                font-size: 3em;
            }
        }
    }
}

section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

    .header {
        background: $backgroundHNFNP;
        box-shadow: 0px 13px 13px 0px rgba(0, 0, 0, 0.33);

        .logo {
            cursor: pointer;

            h2 {
                position: relative;
                left: 20px;
                font-size: 2rem;
                text-shadow: 2px 2px 4px $textColor;
                text-align: center;
                font-family: "Ysabeau Office", sans-serif;
                margin: 0;
                padding: 20px;
                animation: moveLeftRightFade 0.75s linear infinite;
                animation-play-state: paused;
            }
        }

        .logo:hover h2 {
            animation-play-state: running;
        }

        nav {
            display: flex;
            justify-content: space-around;

            a {
                color: $textColor;
                text-decoration: none;
                font-weight: bold;
                letter-spacing: 1px;
                padding-bottom: 5px;
            }

            a:hover {
                color: $backgroundButton;
            }
        }

        @media only screen and (max-width: 767px) {
            .logo {
                h2 {
                    animation: moveLeftRightFade 0.75s linear infinite;
                    animation-play-state: paused;
                }

                .logo:hover h2 {
                    animation-play-state: running;
                }
            }
        }
    }

    &#about,
    &#projects,
    &#skills,
    &#contact {
        background: $backgroundSection;
    }

    .title {
        border: 1px solid $ballText;
        transition: font-size 1s ease;

        font-size: 13vw;
    }
}

#about {
    .profile {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }

    img {
        width: 45%;
        height: 80%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .about-text {
        width: 45%;
        height: 80%;
        font-size: 1.1rem;
        line-height: 1.6;
        background: $backgroundHNFNP;
        max-height: 80%;
        overflow: auto;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

        h2 {
            margin-bottom: 0.5rem;
            margin-top: 0;
        }

        p {
            margin-bottom: 1rem;
            padding: 5px;
        }
    }

    @media only screen and (max-width: 767px) {
        .profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
        }

        img {
            width: 80%;
            height: 65%;
        }

        .about-text {
            width: 80%;
            height: 25%;
            font-size: 0.9rem;
            line-height: 1.3;
            padding: 10px;

            h2 {
                font-size: 1.3rem;
            }
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 80%;
            height: 45%;
        }

        .about-text {
            width: 80%;
            height: 45%;
        }
    }
}

#skills {
    .skills {
        height: 88%;
        display: flex;
        justify-content: space-around;

        .front-end {
            width: 45%;
            height: 100%;
        }

        .back-end {
            width: 45%;
            height: 100%;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        li {
            margin-bottom: 30px;
            position: relative;
            font-size: 18px;
            font-weight: bold;
        }

        .skill-bar {
            margin-top: 10px;
            background: $textColor;
            height: 2.5rem;
            border-radius: 2.5rem;
            position: relative;
        }

        .skill-level {
            height: 100%;
            width: var(--skill-level);
            border-radius: 2.5rem;
            background: $skillBarr;
        }

        .skill-bar:hover .skill-level {
            animation: fill-hover 1s forwards;
        }

        .skill-level.infinite {
            animation: fill 0.3s infinite alternate;
        }

        .skill-percent {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 16px;
            font-weight: bold;
        }
    }

    @media only screen and (max-width: 767px) {
        .skills {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .front-end {
                width: 80%;
            }

            .back-end {
                width: 80%;
            }
        }
    }
}

#projects {
    height: auto;

    .projects {
        width: 100%;
        min-height: 90vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .project {
        width: calc(20% - 40px);
        min-width: 300px;
        margin: 20px;
        height: calc(50% - 40px);
        min-height: 300px;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

#contact {
    p {
        margin-left: 10px;
    }

    .form-container {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            height: 60%;

            label {
                margin-bottom: 10px;
            }

            input,
            textarea {
                padding: 10px;
                margin-bottom: 20px;
                border: 1px solid #ddd;
                border-radius: 5px;
            }

            button {
                padding: 10px 20px;
                background: $backgroundButton;
                color: $textColor2;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: color 0.3s ease;

                &:hover {
                    color: $aNButtonHover;
                }
            }
        }

        img {
            width: 45%;
            min-height: 60%;
        }
    }

    @media only screen and (max-width: 767px) {
        .form-container {
            flex-direction: column;
            height: 80%;

            form {
                width: 75%;
                height: 50%;
            }

            img {
                width: 75%;
                height: 45%;
                min-height: auto;
            }
        }
    }
}

footer {
    display: none;
    background: $backgroundHNFNP;
    padding: 20px;
    text-align: center;
    box-shadow: 0px -13px 13px 0px rgba(0, 0, 0, 0.33);
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .logo {
        h2 {
            font-size: 2em;
            font-family: "Ysabeau Office", sans-serif;
            margin: 0;
        }
    }

    .all-right {
        margin-bottom: 10px;
        font-size: 14px;
    }

    div {
        span {
            display: block;
            font-weight: bold;
            font-size: 16px;
        }

        a {
            color: $textColor;
            text-decoration: underline;
            transition: color 0.3s ease;

            &:hover {
                color: $textColor2;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .all-right {
            display: none;
        }
    }
}

footer.theme-transition {
    opacity: 0;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background: $backgroundModal;
    width: 800px;
    height: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    &-content {
        width: 100%;
        height: 100%;

        h2 {
            text-align: center;
        }

        .carousel {
            position: relative;
            width: 100%;
            height: 70%;

            img {
                width: 100%;
                height: 100%;
            }

            .prev,
            .next {
                position: absolute;
                top: 50%;
                width: 40px;
                padding: 16px;
                margin-top: -22px;
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;
                transition: 0.6s ease;
                user-select: none;
                border: none;
                color: $textColor;
                background: $arrow;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                    color: $arrow;
                    background-color: $arrow2;
                }
            }

            .prev {
                left: 0px;
            }

            .next {
                right: 0px;
            }
        }

        p {
            background: transparent;
            padding: 10px;
            margin: 0;
        }

        a {
            color: $textColor;
            width: 100%;
            background-color: $ballAB;
            text-align: center;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    @media only screen and (max-width: 767px) {
        width: 400px;
        height: 400px;
        max-width: 90%;
        overflow-y: auto;

        .prev,
        .next {
            width: 30px;
            padding: 13px;
            font-size: 20px;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        top: 45%;
        width: 600px;
        height: 600px;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $overlay;
    z-index: 1000;
    cursor: pointer;
}

.close {
    position: absolute;
    top: -15px;
    right: 5px;
    font-size: 30px;
    cursor: pointer;

    @media only screen and (max-width: 767px) {
        top: -15px;
        right: 15px;
    }
}